
.yo-button-group {
  display: inline-block;
  vertical-align: middle; }
.yo-button-group::before,
.yo-button-group::after {
  display: table;
  content: ""; }
.yo-button-group::after {
  clear: both; }
.yo-button-group > .yo-button {
  float: left;
  position: relative; }
.yo-button-group > .yo-button + .yo-button {
  margin-left: 0; }
.yo-button-group > .yo-button.is-disabled {
  z-index: 1; }
.yo-button-group > .yo-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.yo-button-group > .yo-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
.yo-button-group > .yo-button:first-child:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }
.yo-button-group > .yo-button:first-child:last-child.is-round {
  border-radius: 20px; }
.yo-button-group > .yo-button:first-child:last-child.is-circle {
  border-radius: 50%; }
.yo-button-group > .yo-button:not(:first-child):not(:last-child) {
  border-radius: 0; }
.yo-button-group > .yo-button:not(:last-child) {
  margin-right: -1px; }
.yo-button-group > .yo-button:hover, .yo-button-group > .yo-button:focus, .yo-button-group > .yo-button:active {
  z-index: 1; }
.yo-button-group > .yo-button.is-active {
  z-index: 1; }
.yo-button-group > .yo-dropdown > .yo-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--primary:first-child {
  border-right-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--primary:last-child {
  border-left-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--primary:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--success:first-child {
  border-right-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--success:last-child {
  border-left-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--success:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--warning:first-child {
  border-right-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--warning:last-child {
  border-left-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--warning:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--danger:first-child {
  border-right-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--danger:last-child {
  border-left-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--danger:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--info:first-child {
  border-right-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--info:last-child {
  border-left-color: rgba(255, 255, 255, 0.5); }
.yo-button-group .yo-button--info:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5); }
